/* Custom Variables */
$orchid: #7981ff;

$font-size: 16px;
$font-size-large: 18px;

$sidebar-width: 220px;
$content-width: 41em;

/* Variables */
/* Colors */
$link-color: desaturate($orchid, 20%);

/* Sizes */
$small: 600px; // = 37.5em
$medium: 768px; // = 48em
$medium-wide: 900px; // = 56.25em
$large: 1024px; // = 64em
$x-large: 1280px; // = 80em

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:400,700|Noto+Sans+KR:400,700|Space+Mono:400,700&subset=korean');

$serif: 'Noto Serif KR', serif;
$sans-serif: 'Noto Sans KR', sans-serif;
$monospace: 'Space Mono', monospace;

/* Global */
html {
  overflow-y: scroll;

  font-size: $font-size;
  font-variant-ligatures: none;

  @media (min-width: $small) {
    word-break: keep-all;
    text-align: justify;
  }

  @media (min-width: $large) {
    font-size: $font-size-large !important;
  }
}

pre {
  -webkit-overflow-scrolling: touch;
}

/* Layout */
.initial-content,
.search-content {
  margin-left: auto;
  margin-right: auto;

  max-width: 1em + $content-width + 1em;
}

@media (min-width: $large) {
  .initial-content,
  .search-content {
    max-width: $x-large;
  }

  .breadcrumbs ol,
  .page__related {
    float: left !important;
    margin-left: $sidebar-width !important;
    width: ($content-width / 1em) * $font-size-large !important;
  }

  .sidebar {
    width: $sidebar-width !important;
    padding-right: 1em !important;
  }

  .page,
  .archive {
    float: left !important;
    width: $content-width !important;
    padding-right: 0 !important;
  }
}

/* Content */
// html {
//   @media (min-width: $small) {
//     .page__content {
//       p,
//       li {
//         word-break: keep-all;
//         text-align: justify;
//       }
//     }
//   }
// }

.page__content {
  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
    padding-bottom: 0.5em;
  }

  h4 {
    font-size: 1.1em;
    padding-bottom: 0.5em;
  }

  h5,
  h6 {
    font-size: 1em;
  }
}

/* Comments */
#custom-comments {
  $utterances-padding-bottom: 20px;
  $utterances-padding-x: 4px;

  margin-bottom: -$utterances-padding-bottom;
  margin-left: -$utterances-padding-x;
  margin-right: -$utterances-padding-x;
}
